/*  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Fira Sans", sans-serif;
}
.banknav {
  padding: 20px 90px;
  background-color: white;
  font-family: "Fira Sans", sans-serif;
  color: #494747;
  box-shadow: #9da19f 0px 1px 3px 1px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}
.branchctn {
  display: flex;
  align-items: center;
  gap: 25px;
}
.findbranch {
  display: flex;
  gap: 5px;
}
.findbranch i {
  color: #413d3d;
}

.findbranch p {
  cursor: pointer;
  color: gray;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid #494747;
  }
}
.findbranch:hover i {
  color: gray;
  transition: all 0.3s;
}
.logo {
  cursor: pointer;
  height: auto;
  width: 15vw;
}

.Navlink {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.navitem {
  display: flex;
  gap: 15px;
}
.inputinfo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.forinput input {
  border: none;
  outline: none;
  padding: 5px;
}
.forinput i {
  cursor: pointer;
}
.forinput {
  border: 1px solid gray;
  padding: 3px;
  border-radius: 5px;
}
.loginbtn {
  display: flex;
  padding: 5px 25px;
  border: none;
  background-color: #d93d00;
  color: white;
  font-family: "Fira Sans", sans-serif;
}
.falock {
  margin: 5px;
}
.navitem p {
  transition: all 0.3s;
  cursor: pointer;
  padding: 15px 5px;
  &:hover {
    background-color: #f6f6f6;
  }
}
.navbar {
  border-bottom: 1px solid gray;
  margin: 5px 0;
}
.accountType {
  margin: 20px 0 0;
  display: flex;
  gap: 25px;
}
.accountType p:hover {
  color: #008555;
  cursor: pointer;
  font-weight: bold;
}
/*  */

.SecondConatiner {
  /* border: 1px solid; */
  margin-top: 3px;
  display: flex;
  background-color: #f0f0e6;
  padding: 20px 90px;
  justify-content: center;
  align-items: center;
}
.SecondConatiner img {
  height: 30vw;
  object-fit: cover;
  /* width: 100%; */
}
.secondChild h1 {
  line-height: 62px;
  color: #231f20;
  font-size: 52px;
  font-family: "Playfair Display", serif;
  margin: 16px 0;
  width: 300px;
  min-width: 420px;
}
.secondChild p {
  color: #231f20;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  max-width: 600px;
}
.btnctn {
  margin-top: 30px;
}
.btnctn button {
  transition: all 0.3s;
  padding: 15px 60px;
  background-color: #d93d00;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    opacity: 0.5;
    transition: all 0.3s;
  }
}
/*  */

.ThirdContainer {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  margin: 30px 0;
}
.thirdchild p {
  margin: 20px;
  font-size: 19px;
}
.thirdchild h2 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.ThirdContainerIcon {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.iconeOne {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  }
}
.iconeOne h3 {
  margin-top: 20px;
  font-weight: 500;
}
.iconeOne i {
  font-size: 2rem;
  color: #008555;
}
